
@media (max-width:500px){
    .headerMenu{
        display: none;
    }
}


.App{
    height: 100vh;
    background-image: url(https://cdn.pixabay.com/photo/2016/10/11/21/43/geometric-1732847_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
     margin-bottom: 100px;
     display: flex;
     flex-direction: column;
     width: 100vw;
     position:fixed;
     
}

.nav{
    background-color: white;
    color:Black;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    opacity: 0.7;
    height: 50px;
    padding: 10px;
 
    
    
    
    
}

.appcontent{
    display: flex;
    flex: 1;
    overflow-y: auto;
}
.appFooter{
    height: 60px;
    background-color: black;
    opacity: 0.7;
    color:white;
}